@font-face {
  font-family: "OldStandardTT";
  src: url("../font/OldStandard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OldStandardTT";
  font-style: italic;
  src: url("../font/OldStandard-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "OldStandardTT";
  font-weight: bold;
  src: url("../font/OldStandard-Bold.ttf") format("truetype");
}

body, input, button {
    font-family: "OldStandardTT" !important;
    font-size: 20px;
}

input[type=button], button {
    background: #e0e0e0;
    min-width: 86px;
}

html {
    overflow-y: scroll;
    background: #f8f8f8;
    margin: 8px;
}

body {
    max-width: 480px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

h1, .itemf {
    font-weight: bold;
    font-size: 28px;
}

.itemf:after {
    content: "'s list";
}

#addb, #removeb, #output {
    margin-top: 30px;
}

li:empty {
    display: none;
}

#u {
    margin-bottom: 15px;
}

#addb, #removeb {
    width: 100%;
}

#item, #ritem {
    width: calc(100% - 100px);
    overflow: hidden;
}

input+button {
    margin-left: 8px;
}
